@mixin hand-general() {
    width: 50%;
    height:6px;
    background: black;
    position: absolute;
    transform-origin: 100%;
    top: 50%;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
main {
    background-color: aquamarine;

    .container {
        .clock{
            width: 30rem;
            height: 30rem;
            border: 20px solid white;
            border-radius: 50%;
            margin: 50px auto;
            position: relative;
            padding: 2rem;
        
            .clock-face{
                position: relative;
                width: 100%;
                height: 100%;
                transform: translateY(-3px);
          
                .hour-hand{
                    @include hand-general();
                    transform: rotate(30deg);
                }

                .min-hand{
                    @include hand-general();
                    transform: rotate(20deg);
                }

                .second-hand{
                    @include hand-general();
                    transform: rotate(10deg);
                }
         
            }
            
            
            
            
        }
    }
    
}