@mixin hand-general() {
    height:6px;
    background: black;
    position: absolute;
    border-radius: 50%;
    transform-origin: 0%;
    top: 50%;
    left: 50%
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

main {
    background-color: aquamarine;

    .container {
        .clock{
            width: 30rem;
            height: 30rem;
            border: 10px solid white;
            border-radius: 10%;
            margin: 50px auto;
            position: relative;
            padding: 2rem;
        
            .clock-face{
                position: relative;
                width: 100%;
                height: 100%;
                transform: translateY(-3px);

                .dot{
                    height: 2%;
                    width: 2%;
                    background: red;
                    position: absolute;
                    border-radius: 50%;
                    top:50%;
                    right:49%;
                    z-index: 1;
                }

                .mark{
                    height:2px;
                    background: red;
                    width:5%;
                    position: absolute;
                    border-radius: 50%;
                    transform-origin: 1100%;
                    top:50%;
                    right:100%;
                    z-index: -1;
                }
          
                .hour-hand{
                    @include hand-general();
                    width:35%;
                }

                .min-hand{
                    @include hand-general();
                    width:50%;
          
                }

                .second-hand{
                    @include hand-general();
                    width:50%;
                    height:3px;
                  
                }
         
            }
        }
    }
    
}